.ERMctn {
    width: 600px;
    height: 450px;
    border-radius: 6px;
    position: relative;
    margin: 200px auto;
    padding: 50px;
    padding-top: 60px;
    background: #fff;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ERMerrorMsg {
    font-size: 12px;
    color: red;
    -webkit-animation:blink 0.2s ease-in-out 4 alternate;
    -moz-animation:blink 0.2s ease-in-out 4 alternate;
    animation:blink 0.2s ease-in-out 4 alternate;
}
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
.ERMctnMid {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ERMtitle {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
.ERMcontent {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
.ERMtitle:focus, .ERMcontent:focus {
    outline: none;
    box-shadow: 0 0 1px 1px rgb(123,123,253)
}
.btnERMctn {
    display: flex;
    flex-direction: row;
}
.btnERM {
    color: black;
    padding: 6px;
    margin: 15px;
    margin-top: 25px;
    margin-bottom: 0px;
    font-size: 90%;
    border-radius: 8px;
    background-color: rgb(234,234,234);
    transition: background-color 0.5s;
}
.btnERM:hover {
    background-color: rgb(123,123,253);
    color: white;
}
a, a:hover, a:visited, a:active{
    text-decoration: none;
    color: #000;
}
a:hover{
    color: #a00;
}

/* 레이아웃 외곽 너비 400px 제한*/
.wrap{
    max-width: 480px;
    padding-bottom: 10px;
    margin: 0 auto; /* 화면 가운데로 */
    background-color: #fff;
    box-sizing: border-box;
}
.reviewform textarea{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.review_rating{
	clear: both;
}
.rating{
	height: 30px;
	width: 150px;
	background-color: rgb(177, 177, 177);
}
.rating .rate_radio {
    position: relative;
    display: inline-block;
    z-index: 20;
    opacity: 0.001;
    width: 60px;
    height: 60px;
    background-color: #fff;
    cursor: pointer;
    vertical-align: top;
    display: none;
}
.rating .rate_radio label {
    position: relative;
    display: block;
    float: left;
    z-index: 10;
    width: 30px;
    height: 30px;
    background-image: url(./starrate.png);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    cursor: pointer;
}
.rating .ratefill {
    background-color: rgb(123,123,253);
    width: 0;
    height: 30px;
    position: absolute;
}