.PDMmodalBG {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10000;
  }
.PDMctn {
    width: 650px;
    height: 500px;
    border-radius: 6px;
    position: relative;
    margin: 200px auto;
    padding: 50px;
    padding-top: 60px;
    background: #fff;   
    display: flex;
    flex-direction: column;
    align-items: center;
}
.PDMctnMid {
    display: flex;
    flex-direction: row;
}
.PDMtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.PDMcontent {
    display: flex;
    flex-direction: column;
}
.PDMtot {
    padding: 13px;
    color: rgb(123,123,253);
    font-weight: bold;
}
.PDMtoc {
    padding: 13px;
}
.btnPDM {
    color: black;
    padding: 5px;
    margin: 15px;
    margin-top: 25px;
    margin-bottom: 0px;
    font-size: 90%;
    border-radius: 8px;
    transition: background-color 0.5s;
}
.btnPDM:hover {
    background-color: rgb(123,123,253);
    color: white;
}
