.WRMctn {
    width: 600px;
    height: 450px;
    border-radius: 6px;
    position: relative;
    margin: 200px auto;
    padding: 50px;
    padding-top: 60px;
    background: #fff;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.WRMctnMid {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.WRMtitle {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
.WRMcontent {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
.WRMtitle:focus, .WRMcontent:focus {
    outline: none;
    box-shadow: 0 0 1px 1px rgb(123,123,253)
}
.btnWRMctn {
    display: flex;
    flex-direction: row;
}
.btnWRM {
    color: black;
    padding: 6px;
    margin: 15px;
    margin-top: 25px;
    margin-bottom: 0px;
    font-size: 90%;
    border-radius: 8px;
    background-color: rgb(234,234,234);
    transition: background-color 0.5s;
}
.btnWRM:hover {
    background-color: rgb(123,123,253);
    color: white;
}
