.search__box {
    width: 430px;
    display: inline-block;
    background-color: white;
    padding: 20px 30px;
    position: relative;
    top: 50px;
    left: 50px;
    border-radius: 6px;
    box-shadow: 0 2px 2px 0 rgb(214,214,214);
}
  
.search__title {
    padding: 10px 0;
    font-size: 30px;
    font-weight: 800;
    color: rgb(75, 75, 75);
}
  
table {
    width: 100%;
}
  
.search__sub__title {
    padding: 10px 0;
    font-size: 12px;
    font-weight: 600;
}
  
.search__input {
    height: 45px;
    width: 100%;
    color: rgb(100, 98, 98);
    font-size: 15px;
    border: 1px solid rgb(230, 227, 227);
}
  
.search__button {
    display: grid;
    justify-content: end;
    padding: 20px 0;
}
  
.search__button a {
    background-color: #FF5A5F;
    color:white;
    width: 70px;
    height: 45px;
    font-size: 15px;
    font-weight: 700; 
    border-radius: 6px;
    border: 0;
    cursor: pointer;
    text-align: center;
    line-height: 45px;
    text-decoration: none;
}