.DUMctn {
    width: 280px;
    height: 150px;
    border-radius: 6px;
    position: relative;
    margin: 200px auto;
    padding: 50px;
    padding-top: 60px;
    background: #fff;   
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btnDUMctn {
    display:flex;
    flex-direction: row;
}
.btnDUM {
    color: black;
    padding: 5px;
    margin: 15px;
    margin-top: 25px;
    margin-bottom: 0px;
    font-size: 85%;
    border-radius: 8px;
    transition: background-color 0.5s;
}
.btnDUM:hover {
    background-color: rgb(123,123,253);
    color: white;
}
