.userInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
.userInfo {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.userInfoCT {
    padding-top: 20px;
    font-weight: lighter;
}
.userInfoCTtitle {
    padding-top: 30px;
    font-size: 90%;
    color: rgb(123,123,253)
}

.userInfoCTsocial {
    padding-top: 30px;
    padding-bottom: 0;
    font-size: 90%;
    color: black
}
.btnUInfoCtn {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    margin-top: 60px;
    padding: 0;
}
.btnUInfo {
    background-color: rgb(234,234,234);
    padding: 8px;
    margin: 15px;
    margin-bottom: 0px;
    font-size: 85%;
    border-radius: 10px;
    transition: background-color 0.5s
}
.btnUInfo:hover {
    background-color: rgb(123,123,253);
    color: white;
    font-weight: bold;
}
