.sg-main{
    background-color: #fff;
}

.sg-content{
    width:800px;
    height:700px;
    margin: 0 auto;

}
.sg-main{
    background-color: #fff;
    background-image: url("getHelpImg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
}

.sg-content > h1{
    font-size: 50px;
}

.sg-main__scarcity{
    width: 800px;
    margin: 20px;
}

.helpEmail> label{
    font-size: 30px;
    
}

.helpEmail> input{
    font-size: 30px;
    width: 600px;
    opacity: 0.7;
}
  
.helpEmail> input:active, .helpEmail> input:hover{
    opacity: 1; 
}

.helpnName> label{
    font-size: 30px;

}

.helpnName> input{
    opacity: 0.7;
    font-size: 30px;
    width: 600px;
}

.helpnName> input:active, .helpnName> input:hover {
    opacity: 1;
   
}

.helpTopic> label{
    font-size: 30px;

}

.helpTopic > .search__input{
    font-size: 20px;
    
}

.helpMessage> label{
    font-size: 30px;

}

.helpMessage > textarea{
    opacity: 0.7;
    resize: none;
    font-size: 20px
}

.helpMessage > textarea:hover, .helpMessage > textarea:active{
    opacity: 1;
    
}

.GetHelp{
    font-size: 30px;
}

.GetHelp:hover{
    text-decoration: underline;
    background-color: #7B7BFD;
}