* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.bg_image {
  background-image: url("../src/images/background.jpg");
  height: 880px;
  background-size: 100% 100%;
}

nav {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.logo {
  margin: 10px 0 0 20px;
  color: white;
  font-size: 35px;
  font-weight: 800;
  display:inline-block;

}

.menu ul {
  margin: 15px 20px 0 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 30px;
  list-style-type: none;
}

.menu ul a {
  text-decoration: none;
  color:white;
  font-weight: 800;
}

.search__box {
  width: 430px;
  display: inline-block;
  background-color: white;
  padding: 20px 30px;
  position: relative;
  top: 50px;
  left: 50px;
  border-radius: 6px;
  box-shadow: 0 2px 2px 0 rgb(214,214,214);
}

.search__title {
  padding: 10px 0;
  font-size: 30px;
  font-weight: 800;
  color: rgb(75, 75, 75);
}

table {
  width: 100%;
}

.search__sub__title {
  padding: 10px 0;
  font-size: 12px;
  font-weight: 600;
}

.search__input {
  height: 45px;
  width: 100%;
  color: rgb(100, 98, 98);
  font-size: 15px;
  border: 1px solid rgb(230, 227, 227);
}

.search__button {
  display: grid;
  justify-content: end;
  padding: 20px 0;
}

.search__button button {
  background-color: #FF385C;
  color: white;
  width: 70px;
  height: 45px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
}

main {
  margin: 30px 80px; /* 세로 가로 */
}

section {
  margin: 30px 0;
}

.sitemap {
  width:100%;
  height:100px;
  position:absolute;
  bottom:0;
  background:#5eaeff;
  text-align: center;
  color: white;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.map__box {
  margin: 15px 20px 0 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 3px;
  list-style-type: none;
}

.sitemap__button {
  margin: 15px 20px 0 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 30px;
  list-style-type: none;
}
