* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.container {
  background-image: url("../src/images/background2.jpg");
  height: 1400px;
  background-size: 100% 100%;
}

nav {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.logo {
  margin: 10px 0 0 20px;
  color: white;
  font-size: 35px;
  font-weight: 800;
  display:inline-block;
}

.logo a {
  text-decoration: none;
  color:white;
  font-weight: 800;
}

.menu ul {
  margin: 15px 20px 0 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 30px;
  list-style-type: none;
}

.menu ul a {
  text-decoration: none;
  color:white;
  font-weight: 800;
}


.search__box {
  width: 430px;
  display: inline-block;
  background-color: white;
  padding: 20px 30px;
  position: relative;
  top: 50px;
  left: 50px;
  border-radius: 6px;
  box-shadow: 0 2px 2px 0 rgb(214,214,214);
}

.search__title {
  padding: 10px 0;
  font-size: 30px;
  font-weight: 800;
  color: rgb(75, 75, 75);
}

table {
  width: 100%;
}

.search__sub__title {
  padding: 10px 0;
  font-size: 12px;
  font-weight: 600;
}

.search__input {
  height: 45px;
  width: 100%;
  color: rgb(100, 98, 98);
  font-size: 15px;
  border: 1px solid rgb(230, 227, 227);
}

.search__button {
  display: grid;
  justify-content: end;
  padding: 20px 0;
}

.search__button button {
  background-color: #FF385C;
  color: white;
  width: 70px;
  height: 45px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
}


.section {
  margin: 30px 0;
}

.sitemap {
  width:100%;
  height:100px;
  position:absolute;
  bottom:0;
  background:#5eaeff;
  text-align: center;
  color: white;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.map__menu1 ul {
  margin: 10px 0 0 20px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 30px;
  list-style-type: none;
}

.map__menu2 ul {
  margin: 15px 20px 0 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 30px;
  list-style-type: none;
}

.map__menu1 ul a {
  text-decoration: none;
  color:white;
  font-weight: 800;
}

.map__menu2 ul a {
  text-decoration: none;
  color:white;
  font-weight: 800;
}


.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}
  
.loginModal {
  width: 480px;
  height: 621px;
  background-color: white;
  position: relative;
  box-sizing: border-box;
  margin: 50px auto;
  padding: 20px;
  background: #fff;   
}

.btnClose {
  float: right;
  font-size: 25px;
  cursor: pointer;
}

.modalContents {
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 0 20px 32px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.btnLogin {
  height: 40px;
  font-size: 14px;
  padding: 13px 30px;
  cursor: pointer;
  background-color: black;
  color: white;
  line-height: 1px;
  margin-top: 20px;
  margin-bottom: 12px;
  border-radius: 3px;
  border-style: none;
}

.email {
  margin-top: 30px;
  border-radius: 2px;
  width: 100%;
  height: 40px;
  border: 1px solid #e5e5e5;
  padding: 9px 12px;
  outline: none;
  box-sizing: border-box;
}

.password {
  margin-top: 15px;
  border-radius: 2px;
  width: 100%;
  height: 40px;
  border: 1px solid #e5e5e5;
  padding: 9px 12px;
  outline: none;
  box-sizing: border-box;
}


.socialBox {
  margin-bottom: 30px;
}

.kakao {
  background-color: #feec34;
  border-color: #feec34;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.kakaoLogo {
  width: 24px;
  height: 25px;
}

.kakaoText {
  width: 300px;
  font-size: 15px;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
}
 

.facebook {
  background-color: #21538a;
  border-color: #21538a;
  height: 40px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

.facebookText {
  padding-top: 12px;
  width: 310px;
  color: #fff;
  font-size: 15px;
  text-align: center;
  box-sizing: border-box;
}

.facebookLogo {
  padding-top: 7px;
  width: 24px;
  height: 25px;
}