* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.container {
  background-image: url("../src/images/background2.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* 버튼 초기화 */
button {border:0 none; background-color:transparent; cursor:pointer;} 