.middlePayModal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10000;
}

.container1{
    display:flex;
    width:900px;
    height:600px;
    position: relative;
    margin: 50px auto;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    overflow: auto;
    box-sizing: border-box;
    background: #fff;   
}

.hotelImage{
    margin-top: 18px;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    border-right: 1px solid #ddd;
}


.hotelImage img {
    object-fit: cover;
    height: 100%;
    width: 100%;

}


.reservationInfo{
    border-left: 1px solid #ddd;
    width:400px;
    height: 400px;
    margin-left: 20px;
    background-color: #fff;
    opacity: 0.7;
    padding : 20PX;
    

}

.reservationInfo div{
    font-size: 20px;
    line-height: 30px;
       
}

.howPay{
    display:flex;
    width:820px;
    height:70px;
    justify-content: center;
    flex-flow: row wrap;
}

.PI_payment__input{
    font-size: 20px;
    margin-right: 10px;
}

.howPay > button{
    font-size:30px;   
    cursor:pointer;
    background-color:#dfbdfa;
    border-radius: 6px;
    box-shadow:inset 0px 1px 0px 0px #efdcfb;

}


